rules_version = '2';

// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
  	function getAuthId(userId) {
    	return get(/databases/$(database)/documents/users/$(userId)).data.authId
    }
    
    // True if the user is owner
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == getAuthId(userId);
    }
  
  	// True if the user has an active subscription
    function isSubscriber(userId) {
    	return get(/databases/$(database)/documents/users/$(userId)).data.subscriber == true;
    }
  
  	// True if document was created by a partner
    // function partnerDoc() {
    //   return resource.data.partnerEmail == request.auth.token.email;
    // }

		// match /{document=**} {
		// allow read, write: if request.auth != null;
		// }
    
    match /users/{userId}/{document=**} {
      // Allow if user is owner and a subscriber
      allow read, write: if isOwner(userId) && isSubscriber(userId);
    }  
    
    // match /users/{userId}/posts/{postId} {
    //   // Allow if user is owner and a subscriber
    //   allow read, write: if isOwner(userId) && isSubscriber(userId);
    // }  
  }
}
