<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Hamburgeria #5</title>
  </head>
  <body>
    <div
      class="Post5"
      style="
        width: 1080px;
        height: 1080px;
        position: relative;
        background: white;
        transform: translate(-25%, -25%) scale(0.5);
        /* transform: translate(-37.5%, -37.5%) scale(0.25); */
      "
    >
      <img
        class="BackgroundImage"
        style="
          width: 1080px;
          height: 1080px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
        src="/hamburgeria/t5/background.png"
      />
      <div
        class="Button"
        style="
          width: 251px;
          height: 86px;
          left: 72px;
          top: 607px;
          position: absolute;
          background: #cc0700;
          border-radius: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="FaASeuPedido"
          style="
            color: white;
            font-size: 32px;
            font-family: Raleway;
            /* font-family: Rockwell; */
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Ligue Agora
        </div>
      </div>
      <div
        class="Image"
        style="
          width: 637px;
          height: 434px;
          left: 461px;
          top: 192px;
          position: absolute;
        "
      >
        <div
          class="Mask"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        ></div>
        <div
          class="Mask"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: black;
          "
        ></div>
        <div
          class="PlaceYourImageHere"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f2f2f2;
          "
        ></div>
        <div
          class="PlaceYourImageHere"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f2f2f2;
          "
        ></div>
      </div>
      <div
        class="Image"
        style="
          width: 637px;
          height: 434px;
          left: 310px;
          top: 433px;
          position: absolute;
        "
      >
        <div
          class="Mask"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        ></div>
        <div
          class="Mask"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: black;
          "
        ></div>
        <div
          class="PlaceYourImageHere"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d8d8d8;
          "
        ></div>
        <div
          class="PlaceYourImageHere"
          style="
            width: 637px;
            height: 434px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d8d8d8;
          "
        ></div>
      </div>
      <div
        class="Text"
        style="
          width: 760px;
          height: 802px;
          left: 79px;
          top: 192px;
          position: absolute;
        "
      >
        <div
          class="CompreAgora"
          style="left: 0px; top: 40px; position: absolute"
        >
          <span
            style="
              color: white;
              font-size: 60px;
              font-family: Rockwell;
              font-weight: 700;
              word-wrap: break-word;
            "
            >COMPRE<br /></span
          ><span
            style="
              color: #ffb700;
              font-size: 90px;
              font-family: Rockwell;
              font-weight: 700;
              word-wrap: break-word;
            "
            >AGORA</span
          >
        </div>
        <div
          style="
            left: 334px;
            top: -16px;
            position: absolute;
            color: #ffb700;
            font-size: 310px;
            font-family: Rockwell;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          1
        </div>
        <div
          class="HamburgerDeFrango"
          style="
            width: 714px;
            height: 97px;
            left: 63px;
            top: 719px;
            position: absolute;
            color: #ffc900;
            font-size: 60px;
            font-family: Rockwell;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Hamburger Artesanal
        </div>
      </div>
    </div>
  </body>
</html>
